.container-top {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 1rem 2rem;
  background-color: var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
}

.logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.logo i {
  font-size: 1.5rem;
  color: var(--color-yellow);
  margin-right: 10px;
}

.logo-title {
  letter-spacing: 0.4rem;
}

.nav-ul {
  display: flex;
}

.nav-li {
  padding: 1rem;
}

.nav-li a {
  transition: all 0.3s;
}

.nav-li a:hover {
  color: var(--color-yellow);
}

.vp-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/frame.jpg) no-repeat center center / cover;
  padding: 0 1.5rem;
}

.vp-content {
  text-align: center;
  max-width: 800px;
  color: white;
}

.vp-content-title {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.vp-content-paragraph {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.vp-content-paragraph span {
  color: var(--color-yellow);
}
